# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\coding\cs61b\proj1b\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
